.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 15px;
    color: whitesmoke;
}

.submit-btn {
    width: 85%;
    margin-top: 10%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: rgb(37, 150, 190);
    border: 0;
    outline: none;
    border-radius: 30px !important;
}

.input-container {
    border: 2px solid black;
    width: max-content;
    padding: 20px;
    background-color: rgb(15, 15, 15, 0.5);
    margin-left: 37%;
    margin-top: 4%;
    border-radius: 30px;
}


/*category starts */

#images {
    margin-left: 5%;
}

#images>a {
    float: left;
    margin: 3% 3% 1% 5%;
    text-decoration: none;
}

.effect {
    background-position: center;
    width: 5px !important;
    height: 5px !important;
    border-radius: 15px;
}

#imgcontent {
    margin-top: 2%;
    color: #130f40;
    font-family: 'monospace';
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#images>a:hover {
    opacity: 0.5;
}


/*category ends */